/client-side/node_modules
/client-side/package-lock.json
/client-side/.env
/server-side/node_modules
/server-side/package-lock.json
/server-side/.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

